.grid-container {
    display: grid;
    /* grid-template-columns: repeat(16,30px);
    grid-template-rows: repeat(16,30px); */
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 480px;
    height: 480px;
}

/* .grid-container-2 {
    grid-template-columns: repeat(64,7.5px) !important;
    grid-template-rows: repeat(64,7.5px) !important;
} */

.grid-item {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

/* .grid-item-2 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */

.colorset-1 {
    background-color: black;
}